# Eclipse

bin/
*.launch
.settings/
.metadata
.classpath
.project

*.tmp
*.bak
*.swp
*~.nib


# IntelliJ Idea

out/
*.ipr
*.iws
*.iml
.idea/


# Gradle

build/
.gradle/
gradle/wrapper/gradle-wrapper.jar
gradlew

# Other

eclipse/
run/
*.txt

# Windows

Thumbs.db
Desktop.ini